@import '../base';

$size-input: 40px;
$size-popup: 200px;

:host {
    position: relative;
    display: inline-block;
    width: 100%;
    height: $size-input;
}

.select {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    font-size: $size-font2;
    color: $color-line1;

    &:hover {
        .input {
            background: $color-box-background4;
        }
    }

    .input {
        position: relative;
        height: $size-input;

        background: $color-box-background5;
        border-radius: $size-border-radius-small;
        line-height: 1;
        cursor: pointer;

        transition: border-radius $transition-fast, background $transition-hover;

        @include focus;

        .selected {
            height: $size-input;
            line-height: $size-input;
            padding: 0 28px 0 15px;

            @include ellipsis;
        }

        i {
            position: absolute;
            top: 0;
            right: 8px;
            height: 100%;

            font-size: $size-font;
            line-height: 3;
        }
    }

    .popupWrapper {
        position: absolute;
        right: 0;
        left: 0;
        height: 0;

        overflow: hidden;

        transition: height $transition-fast;

        .popup {
            position: absolute;
            width: 100%;
            max-height: $size-popup;

            color: $color-dark-line2;
            background: $color-box-background;
            overflow-x: hidden;
            overflow-y: auto;

            &.single .multiSelected {
                width: 0;

                overflow: hidden;
            }

        }
    }

    .item {
        padding: 10px 15px;

        background: transparent;
        cursor: pointer;
        @include ellipsis;

        transition: background $transition-hover, color $transition-hover;

        &:focus,
        &:hover {
            color: $color-font;
            background: $color-primary;
            outline: 0;
        }

        &.itemSelected {
            .itemSelected {
                display: inline-block;
            }

            .itemUnselected {
                display: none;
            }
        }

        &.itemUnselected {
            .itemSelected {
                display: none;
            }

            .itemUnselected {
                display: inline-block;
            }
        }

        .multiSelected {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
        }

        .itemDetails {
            display: inline-block;
        }
    }
}

.openUp {
    .popupWrapper {
        bottom: calc(100% + 1px);
    }

    .popup {
        bottom: 0;
    }
}

.openDown {
    .popupWrapper {
        top: calc(100% + 1px);
    }

    .popup {
        top: 0;
    }
}

.opened {
    &.openUp {
        .input {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .popup {
            border-top-left-radius: $size-border-radius-small;
            border-top-right-radius: $size-border-radius-small;
        }
    }

    &.openDown {
        .input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .popup {
            border-bottom-left-radius: $size-border-radius-small;
            border-bottom-right-radius: $size-border-radius-small;
        }
    }

    .popupWrapper {
        height: $size-popup;
    }
}
