@import '../base';

:host {
    display: inline;
}

label {
    outline: 0;

    transition: color $transition-hover;

    &:focus {
        i {
            @include boxShadow(inset 0 1px 1px $color-transparent, 0 0 5px $color-box-background2);
        }
    }

    &:hover {
        color: $color-primary;
    }

    i {
        border-radius: 2px;
    }
}

.label {
    display: block;
    height: 40px;
    padding: 4px;

    line-height: 2.4;
    z-index: 1;
    @include ellipsis;
}

input {
    display: none;
    outline: 0;
}
