<div class="select" [ngClass]="_classes">
    <div class="input" tabindex="0" (click)="popupToggle()" (keyup.space)="popupOpen()" (keyup.escape)="popupClose()">
        <div class="selected">{{getTitle()}}</div>
        <i class="icon-chevronDown"></i>
    </div>
    <div class="popupWrapper">
        <div class="popup" [ngClass]="config.type">
            <div class="item" #itemElement *ngFor="let item of options; let itemIndex = index" [tabindex]="_popupOpen ? 0 : -1" [ngClass]="getItemClasses(item)" (click)="itemClicked(item)" (keyup.space)="itemClicked(item)" (keyup.escape)="popupClose()" (mouseenter)="itemElement.focus()">
                <div class="multiSelected">
                    <i class="icon-checkboxChecked itemSelected"></i>
                    <i class="icon-checkboxEmpty itemUnselected"></i>
                </div>
                <div class="itemDetails">{{item}}</div>
            </div>
        </div>
    </div>
</div>
