<div class="select" #selectElement [ngClass]="_classes">
    <div class="input" tabindex="0" (click)="popupToggle(selectElement)" (keyup.space)="popupOpen(selectElement)">
        <div class="selected">{{value || 'Select'}}</div>
        <i class="icon-chevronDown"></i>
    </div>
    <div class="popupWrapper">
        <div class="popup">
            <div class="item" *ngFor="let item of options; let itemIndex = index" [tabindex]="_popupOpen ? 0 : -1" (click)="itemClicked(item)" (keyup.space)="itemClicked(item)">{{item}}</div>
        </div>
    </div>
</div>
