@import '../../_base';

sh-line-chart {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    .axis path,
    .axis line {
        fill: none;
        stroke: $color-line3;
    }

    text {
        fill: $color-line3;
    }

    .y.axis {
        display: none;
    }

    path.base {
        fill: none;
        stroke: $color-line3;
        stroke-width: 1.5px;
    }

    path.line-0 {
        stroke-width: 1;
        stroke: $color-line;
        stroke-dasharray: 1 7;
        stroke-linecap: round;
    }

    path.line-1 {
        fill: none;
        stroke: $color-primary;
        stroke-width: 1.5px;
    }

    circle.base {
        fill: $color-line3;
        fill-opacity: .9;
    }

    circle.series-0 {
        display:none;
    }

    circle.series-1 {
        stroke: $color-primary;
        fill: #234247;
        fill-opacity: .8;
    }

    circle.series-2 {
        fill: $color-line3;
        fill-opacity: .9;
    }
}
