@font-face {
    font-family: 'superhero';
    src:    url('superhero.eot?5vo9ny');
    src:    url('superhero.eot?5vo9ny#iefix') format('embedded-opentype'),
        url('superhero.ttf?5vo9ny') format('truetype'),
        url('superhero.woff?5vo9ny') format('woff'),
        url('superhero.svg?5vo9ny#superhero') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'superhero' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-voicemail:before {
    content: "\e901";
}
.icon-chat:before {
    content: "\e902";
}
.icon-conferenceCall:before {
    content: "\e903";
}
.icon-dialPads:before {
    content: "\e904";
}
.icon-email:before {
    content: "\e905";
}
.icon-endCall:before {
    content: "\e906";
}
.icon-forward:before {
    content: "\e907";
}
.icon-linkedIn:before {
    content: "\e908";
}
.icon-neuralytics:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e909";
}
.icon-reminder:before {
    content: "\e90a";
}
.icon-call:before {
    content: "\e90b";
}
.icon-calendar:before {
    content: "\e910";
}
.icon-radioButton:before {
    content: "\e911";
}
.icon-radioButtonEmpty:before {
    content: "\e912";
}
.icon-checkboxEmpty:before {
    content: "\e913";
}
.icon-communication:before {
    content: "\e917";
}
.icon-checkboxChecked:before {
    content: "\e918";
}
.icon-checkSmall:before {
    content: "\e919";
}
.icon-company:before {
    content: "\e91a";
}
.icon-download:before {
    content: "\e914";
}
.icon-check:before {
    content: "\e915";
}
.icon-automated:before {
    content: "\e916";
}
.icon-chevronUp:before {
    content: "\e90c";
}
.icon-chevronDown:before {
    content: "\e90d";
}
.icon-chevronLeft:before {
    content: "\e90e";
}
.icon-chevronRight:before {
    content: "\e90f";
}
.icon-logo:before {
    content: "\e91b";
}
.icon-attachment:before {
    content: "\e91c";
}
.icon-close:before {
    content: "\e91d";
}
.icon-cursor:before {
    content: "\e91e";
}
.icon-formatting:before {
    content: "\e91f";
}
.icon-gear:before {
    content: "\e920";
}
.icon-incomingCall:before {
    content: "\e921";
}
.icon-info:before {
    content: "\e922";
}
.icon-face:before {
    content: "\e923";
}
.icon-medal:before {
    content: "\e924";
}
.icon-minus:before {
    content: "\e925";
}
.icon-icosahedron:before {
    content: "\e926";
}
.icon-faceFrown:before {
    content: "\e927";
}
.icon-plus:before {
    content: "\e928";
}
.icon-search:before {
    content: "\e929";
}
.icon-faceSmile:before {
    content: "\e92a";
}
.icon-trophy:before {
    content: "\e92b";
}
.icon-vision:before {
    content: "\e92c";
}
.icon-wait:before {
    content: "\e92d";
}
.icon-flag:before {
    content: "\e92e";
}
.icon-cancel:before {
    content: "\e92f";
}
.icon-orgChart:before {
    content: "\e930";
}
.icon-heart:before {
    content: "\e931";
}
.icon-team:before {
    content: "\e932";
}
.icon-glove:before {
    content: "\e933";
}
.icon-twitter:before {
    content: "\e934";
}
.icon-play:before {
    content: "\e935";
}
.icon-expand:before {
    content: "\e936";
}
.icon-Collapse_100:before {
    content: "\e937";
}
.icon-facebook:before {
    content: "\e938";
}
.icon-facebook2:before {
    content: "\e939";
}
.icon-laurels:before {
    content: "\e93a";
}
.icon-delete_100:before {
    content: "\e93b";
}
.icon-person_100:before {
    content: "\e93c";
}

