<div style="position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      overflow:hidden;
      background: rgb(40, 77, 81);
      padding: 20px;"
>
  <h1>
    {{title}}
  </h1>
  <div class="chartContainer">
    <sh-line-chart [data]="chartData" [config]="chartConfig"></sh-line-chart>
  </div>

  <button (click)="changeChartData()">Change Chart Data</button>
  <div class="row">
    <div class="col2">
      <sh-input-text [(ngModel)]="user.name">Name</sh-input-text>
    </div>
    <div class="col1">
      <sh-input-text [(ngModel)]="user.title">Title</sh-input-text>
    </div>
    <div class="col1">
      <sh-input-checkbox [(ngModel)]="user.driver">Driver</sh-input-checkbox>
    </div>
  </div>
</div>
