<div style="height: 1200px; width: 100%; background: rgb(40, 77, 81); padding: 20px;">
  <h1>
    {{title}}
  </h1>
  <sh-line-chart [data]="chartData"></sh-line-chart>
  <button (click)="changeChartData()">Change Chart Data</button>
  <div class="row">
    <div class="col2">
      <sh-input-text [(ngModel)]="user.name">Name</sh-input-text>
    </div>
    <div class="col1">
      <sh-input-text [(ngModel)]="user.title">Title</sh-input-text>
    </div>
    <div class="col1">
      <sh-input-text [(ngModel)]="user.age">Age</sh-input-text>
    </div>
  </div>
</div>
